@layer components {
    /* Button styling */
    .fab {
        --button-height: var(--size-13);
        --button-width: var(--size-13);

        --button-border-radius: var(--border-radius-5);
        --button-border-style: none;

        --button-padding-inline: var(--padding-4);
        --button-icon-padding: var(--padding-4);
        --button-icon-text-gap: var(--padding-2);

        --button-text-color: var(--color-on-primary-container);
        --button-text-opacity: 1;

        --button-icon-size: var(--size-8);
        --button-icon-optical-size: 24;

        --button-background-color: var(--color-primary-container);
        --button-background-opacity: 1;

        --button-shadow: var(--elevation-3);

        position: absolute;
        bottom: var(--padding-4);
        right: var(--padding-4);
    }

    .fab:hover {
        --button-shadow: var(--elevation-4);
    }

    .extendedFab {
        composes: fab;

        --button-width: var(--size-16);
    }
}
