@layer components {
    .root {
        display: flex;
        flex-direction: column;
        gap: var(--padding-1);

        /* Interactive container properties */
        --input-border-width: var(--size-1);
        --input-border-color: rgb(var(--color-outline));

        /* Label properties */
        --label-shift: var(--padding-4);
        --label-color: rgb(var(--color-on-surface-variant));

        /* Support text properties */
        --supportText-color: rgb(var(--color-on-surface-variant));

        /* Icon properties */
        --leading-icon-color: rgb(var(--color-on-surface-variant));
        --trailing-icon-color: rgb(var(--color-on-surface-variant));

        /* Input properties */
        --caret-color: rgb(var(--color-primary));
    }

    .interactiveContainer {
        height: var(--size-13);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--padding-2);

        border: var(--input-border-width) solid var(--input-border-color);
        border-radius: var(--border-radius-2);
        background-color: rgb(var(--color-surface));
        caret-color: var(--caret-color);

        padding-inline: var(--padding-4);

        position: relative;
    }

    .interactiveContainer[data-leading-icon] {
        --label-shift: var(--padding-13);
        padding-inline-start: var(--padding-1);
    }

    .interactiveContainer[data-trailing-icon] {
        padding-inline-end: var(--padding-1);
    }

    .labelText {
        color: var(--label-color);
        background-color: transparent;

        position: absolute;
        left: var(--label-shift);
        top: 50%;
        translate: 0 -50%;

        font-size: var(--typo-body-large-size);
        font-weight: var(--typo-body-large-weight);
        line-height: var(--typo-body-large-line-height);
        letter-spacing: var(--typo-body-large-tracking);

        transition-property: all;
        transition-duration: var(--motion-duration-4);
        transition-timing-function: var(--motion-easing-standard-decelerate);
    }

    .root:focus-within .labelText,
    .root[data-placeholder] .labelText,
    .root[data-value] .labelText {
        padding-inline: var(--padding-1);
        left: var(--padding-3);
        top: 0;

        background-color: inherit;

        font-size: var(--typo-body-small-size);
        font-weight: var(--typo-body-small-weight);
        line-height: var(--typo-body-small-line-height);
        letter-spacing: var(--typo-body-small-tracking);
    }

    .supportText {
        composes: body-small from '../../../assets/styles/patterns/typography.module.css';

        color: var(--supportText-color);
        padding-inline: var(--padding-4);
    }

    .textBoxIcon {
        padding: var(--padding-2);
    }

    .textBoxIconButton {
        composes: textBoxIcon;
        padding: 0;
    }

    .interactiveContainer[data-leading-icon] .textBoxIcon:nth-of-type(1) {
        color: var(--leading-icon-color);
    }

    .interactiveContainer[data-trailing-icon] .textBoxIcon:nth-of-type(2) {
        color: var(--trailing-icon-color);
    }

    /* Disabled state */
    .root[data-disabled] {
        --input-border-color: rgb(
            var(--color-on-surface) / var(--state-disabled-bg-opacity)
        );
        --label-color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
        --supportText-color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
        --leading-icon-color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
        --trailing-icon-color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
    }

    /* Hovered state */
    .root:not([data-disabled]):hover {
        --input-border-color: rgb(var(--color-on-surface));
        --label-color: rgb(var(--color-on-surface));
    }

    /* Focus state */
    .root:focus-within,
    .root:hover:focus-within {
        --input-border-color: rgb(var(--color-primary));
        --input-border-width: var(--size-2);
        --label-color: rgb(var(--color-primary));
    }

    /* Error */
    .root[data-error]:not([data-disabled]) {
        --input-border-color: rgb(var(--color-error));
        --label-color: rgb(var(--color-error));
        --supportText-color: rgb(var(--color-error));
        --trailing-icon-color: rgb(var(--color-error));
        --caret-color: rgb(var(--color-error));
    }

    .root[data-error]:focus-within,
    .root[data-error]:not([data-disabled]):hover:focus-within {
        --input-border-color: rgb(var(--color-error));
        --label-color: rgb(var(--color-error));
        --supportText-color: rgb(var(--color-error));
        --trailing-icon-color: rgb(var(--color-error));
    }

    .root[data-error]:not([data-disabled]):hover {
        --input-border-color: rgb(var(--color-on-error-container));
        --label-color: rgb(var(--color-on-error-container));
        --supportText-color: rgb(var(--color-error));
        --trailing-icon-color: rgb(var(--color-on-error-container));
    }

    .supportTextWithIcon {
        composes: supportText;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--padding-1);
    }

    .supportTextIcon {
        --icon-font-size: calc(
            var(--typo-body-small-size) * var(--typo-body-small-line-height)
        );
    }
}
