:root {
    font-size: max(100%, var(--base-font-size));
}

body {
    font-family: var(--ref-typography-font);
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}
