@layer components {
    .navigationBar {
        list-style-type: none;

        margin: 0;
        padding: 0;
        height: var(--size-16);

        display: flex;
        flex-direction: row;
        gap: var(--padding-2);

        background-color: rgb(var(--color-surface-container));
    }
}
