@value expanded as bp-expanded, medium as bp-medium from "../../assets/styles/variables/breakpoints.module.css";

@layer components {
    .heading {
        composes: headline-small from '../../assets/styles/patterns/typography.module.css';
        color: rgb(var(--color-on-surface));
    }

    .subHeading {
        composes: title-small from '../../assets/styles/patterns/typography.module.css';
        color: rgb(var(--color-on-surface-variant));
    }
}
