@layer components {
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        text-align: center;
        white-space: nowrap;
    }
}
