@layer components {
    .button {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;

        display: flex;
    }

    .image {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
