@layer components {
    .filledButton {
        composes: label-large from '../../../assets/styles/patterns/typography.module.css';

        min-height: var(--size-11);
        min-width: var(--size-11);

        border-radius: var(--size-11);
        border: none;

        padding-inline-start: var(--button-padding-start, var(--padding-6));
        padding-inline-end: var(--padding-6);
        gap: var(--padding-2);

        color: rgb(var(--color-on-primary));
        background-color: rgb(var(--color-primary));
    }

    .filledButtonIcon {
        composes: filledButton;

        --button-padding-start: var(--padding-4);
    }

    .filledButton:disabled {
        color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
        background-color: rgb(
            var(--color-on-surface) / var(--state-disabled-bg-opacity)
        );
    }

    .filledButton:hover {
        --button-shadow: var(--elevation-1);
    }

    .icon {
        --icon-size: var(--size-6);
    }
}
