@value expanded as bp-expanded, medium as bp-medium from "../../../assets/styles/variables/breakpoints.module.css";

@layer components {
    .usersList {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .list {
        width: 100%;
    }

    .busy {
        align-self: center;
    }
}
