/*
    Defines all color roles used in the application.
*/
:root {
    /* Primary */
    --color-primary: var(--ref-color-palette-primary40);
    --color-on-primary: var(--ref-color-palette-primary100);
    --color-primary-container: var(--ref-color-palette-primary90);
    --color-on-primary-container: var(--ref-color-palette-primary10);
    --color-primary-fixed: var(--ref-color-palette-primary90);
    --color-primary-fixed-dim: var(--ref-color-palette-primary80);
    --color-on-primary-fixed: var(--ref-color-palette-primary10);
    --color-on-primary-fixed-variant: var(--ref-color-palette-primary30);

    /* Secondary */
    --color-secondary: var(--ref-color-palette-secondary40);
    --color-on-secondary: var(--ref-color-palette-secondary100);
    --color-secondary-container: var(--ref-color-palette-secondary90);
    --color-on-secondary-container: var(--ref-color-palette-secondary10);
    --color-secondary-fixed: var(--ref-color-palette-secondary90);
    --color-secondary-fixed-dim: var(--ref-color-palette-secondary80);
    --color-on-secondary-fixed: var(--ref-color-palette-secondary10);
    --color-on-secondary-fixed-variant: var(--ref-color-palette-secondary30);

    /* Tertiary */
    --color-tertiary: var(--ref-color-palette-tertiary40);
    --color-on-tertiary: var(--ref-color-palette-tertiary100);
    --color-tertiary-container: var(--ref-color-palette-tertiary90);
    --color-on-tertiary-container: var(--ref-color-palette-tertiary10);
    --color-tertiary-fixed: var(--ref-color-palette-tertiary90);
    --color-tertiary-fixed-dim: var(--ref-color-palette-tertiary80);
    --color-on-tertiary-fixed: var(--ref-color-palette-tertiary10);
    --color-on-tertiary-fixed-variant: var(--ref-color-palette-tertiary30);

    /* Error */
    --color-error: var(--ref-color-palette-error40);
    --color-on-error: var(--ref-color-palette-error100);
    --color-error-container: var(--ref-color-palette-error90);
    --color-on-error-container: var(--ref-color-palette-error10);

    /* Surface */
    --color-surface-dim: var(--ref-color-palette-neutral87);
    --color-surface: var(--ref-color-palette-neutral98);
    --color-surface-bright: var(--ref-color-palette-neutral98);

    --color-surface-container-lowest: var(--ref-color-palette-neutral100);
    --color-surface-container-low: var(--ref-color-palette-neutral96);
    --color-surface-container: var(--ref-color-palette-neutral94);
    --color-surface-container-high: var(--ref-color-palette-neutral92);
    --color-surface-container-highest: var(--ref-color-palette-neutral90);

    --color-on-surface: var(--ref-color-palette-neutral10);
    --color-on-surface-variant: var(--ref-color-palette-neutral-variant30);

    /* Outline */
    --color-outline: var(--ref-color-palette-neutral-variant50);
    --color-outline-variant: var(--ref-color-palette-neutral-variant80);

    /* Inverse */
    --color-inverse-surface: var(--ref-color-palette-neutral20);
    --color-on-inverse-surface: var(--ref-color-palette-neutral95);
    --color-inverse-primary: var(--ref-color-palette-primary80);

    /* Other */
    --color-scrim: var(--ref-color-key-black);
    --color-shadow: var(--ref-color-key-black);
    --color-outline-focus: var(--ref-color-key-black);
}

::backdrop {
    --color-scrim: var(--ref-color-key-black);
    --color-scrim-opacity: 0.6;
}
