/*
    Defines all variables related to the shape of the container
*/
:root {
    /* Border radius */
    --border-radius-0: 0;
    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
    --border-radius-4: 1rem;
    --border-radius-5: 1.75rem;
    --border-radius-6: 50%;
}
