/*
    Defines all size related variables
*/
@value medium as bp-medium from "./breakpoints.module.css";

:root {
    /* Padding sizes */
    --padding-1: var(--ref-spacing-padding-increment);
    --padding-2: calc(var(--ref-spacing-padding-increment) * 2);
    --padding-3: calc(var(--ref-spacing-padding-increment) * 3);
    --padding-4: calc(var(--ref-spacing-padding-increment) * 4);
    --padding-5: calc(var(--ref-spacing-padding-increment) * 5);
    --padding-6: calc(var(--ref-spacing-padding-increment) * 6);
    --padding-7: calc(var(--ref-spacing-padding-increment) * 7);
    --padding-8: calc(var(--ref-spacing-padding-increment) * 8);
    --padding-9: calc(var(--ref-spacing-padding-increment) * 9);
    --padding-10: calc(var(--ref-spacing-padding-increment) * 10);
    --padding-11: calc(var(--ref-spacing-padding-increment) * 11);
    --padding-12: calc(var(--ref-spacing-padding-increment) * 12);
    --padding-13: calc(var(--ref-spacing-padding-increment) * 13);

    /* Margin sizes */
    --page-margin: var(--ref-spacing-margin-small);

    /* Sizes */
    --size-000: -0.5rem;
    --size-00: -0.25rem;
    --size-1: 0.0625rem;
    --size-2: 0.125rem;
    --size-3: 0.25rem;
    --size-4: 0.5rem;
    --size-5: 1rem;
    --size-6: 1.125rem;
    --size-7: 1.25rem;
    --size-8: 1.5rem;
    --size-9: 1.75rem;
    --size-10: 2rem;
    --size-11: 2.5rem;
    --size-12: 3rem;
    --size-13: 3.5rem;
    --size-14: 4rem;
    --size-15: 4.5rem;
    --size-16: 5rem;
    --size-17: 6rem;
    --size-18: 7rem;
    --size-22: 22.5rem;
    --size-23: 23rem;
    --size-25: 25rem;
    --size-26: 26rem;
    --size-34: 34rem;
    --size-36: 36rem;
    --size-68: 68rem;

    --size-target: var(--size-12);
    --size-state-layer: var(--size-11);

    /* Text size */
    --size-text-small: 20ch;
    --size-text-medium: 40ch;
    --size-text-large: 60ch;
}

@media bp-medium {
    :root {
        --page-margin: var(--ref-spacing-margin-large);
    }
}
