/*
    Defines all size related variables
*/
@value medium as bp-medium from "./breakpoints.module.css";

:root {
    /* Padding sizes */
    --padding-1: var(--ref-spacing-padding-increment);
    --padding-2: calc(var(--ref-spacing-padding-increment) * 2);
    --padding-3: calc(var(--ref-spacing-padding-increment) * 3);
    --padding-4: calc(var(--ref-spacing-padding-increment) * 4);
    --padding-5: calc(var(--ref-spacing-padding-increment) * 5);
    --padding-6: calc(var(--ref-spacing-padding-increment) * 6);
    --padding-7: calc(var(--ref-spacing-padding-increment) * 7);
    --padding-8: calc(var(--ref-spacing-padding-increment) * 8);
    --padding-9: calc(var(--ref-spacing-padding-increment) * 9);

    /* Margin sizes */
    --page-margin: var(--ref-spacing-margin-small);

    /* Sizes */
    --size-000: -0.5rem;
    --size-00: -0.25rem;
    --size-1: 0.0625rem;
    --size-2: 0.125rem;
    --size-3: 0.25rem;
    --size-4: 0.5rem;
    --size-5: 1rem;
    --size-6: 1.125rem;
    --size-7: 1.25rem;
    --size-8: 1.5rem;
    --size-9: 1.75rem;
    --size-10: 2rem;
    --size-11: 2.5rem;
    --size-12: 3rem;

    --size-target: var(--size-12);
    --size-state-layer: var(--size-11);
}

@media bp-medium {
    :root {
        --page-margin: var(--ref-spacing-margin-large);
    }
}
