.checkbox {
    --checkbox-size: var(--size-6);

    appearance: none;
    margin: 0;
    background-color: transparent;
    vertical-align: middle;

    width: var(--size-target);
    height: var(--size-target);

    position: relative;
}

.checkbox::before,
.checkbox::after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/* Checkbox */
.checkbox::after {
    content: 'done';
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-weight: 700;
    font-size: 0;
    color: rgb(var(--color-on-primary));

    display: grid;
    place-content: center;

    width: var(--checkbox-size);
    height: var(--checkbox-size);

    border-radius: var(--border-radius-1);
    border: var(--size-2) solid rgb(var(--color-on-surface));

    transition: font-size, background-color;
    transition-duration: var(--motion-duration-1);
    transition-timing-function: var(--motion-easing-standard-accelerate);
}

.checkbox:checked::after {
    border: none;
    background-color: rgb(var(--color-primary));

    font-size: var(--checkbox-size);

    transition: font-size, background-color;
    transition-duration: var(--motion-duration-3);
    transition-timing-function: var(--motion-easing-standard-decelerate);
}

.checkbox:disabled::after {
    opacity: var(--state-disabled-text-opacity);
}

.checkbox:disabled:checked::after {
    background-color: rgb(var(--color-on-surface));
    color: rgb(var(--color-surface));
}

/* Move the focus marker to the after pseudo-element */
.checkbox:focus-visible {
    outline: none;
}

.checkbox:focus-visible::after {
    outline: rgb(var(--color-outline-focus)) var(--size-2) solid;
    outline-offset: var(--size-1);
}

/* State layer */
.checkbox::before {
    --state-layer-opacity: 0;
    --state-layer-color: 255 255 255;

    content: '';
    width: var(--size-state-layer);
    height: var(--size-state-layer);
    clip-path: circle(farthest-side);
    background-color: rgb(
        var(--state-layer-color) / var(--state-layer-opacity)
    );
}

.checkbox:hover:not(:disabled)::before,
.checkbox:focus:not(:disabled)::before,
.checkbox:active:not(:disabled)::before {
    --state-layer-color: var(--color-on-surface);
}

.checkbox:hover:checked:not(:disabled)::before,
.checkbox:focus:checked:not(:disabled)::before,
.checkbox:active:checked:not(:disabled)::before {
    --state-layer-color: var(--color-primary);
}

.checkbox:hover:not(:disabled)::before {
    --state-layer-opacity: var(--state-hovered-opacity);
}

.checkbox:focus:not(:disabled)::before {
    --state-layer-opacity: var(--state-focused-opacity);
}

.checkbox:active:not(:disabled)::before {
    --state-layer-opacity: var(--state-pressed-opacity);
}

/* Ripple animation */
.checkbox:global(.ripple):not(:disabled)::before {
    background-image: radial-gradient(
        circle farthest-side at center,
        rgb(var(--state-layer-color) / var(--state-pressed-opacity)),
        rgb(var(--state-layer-color) / var(--state-pressed-opacity)) 50%,
        transparent 50%,
        transparent
    );
    background-repeat: no-repeat;
    animation: var(--animation-duration, --motion-duration-5)
        var(--motion-easing-standard) 0s 1 normal forwards ripple;
}

@keyframes ripple {
    from {
        background-size: 0 0;
        background-position: var(--origin-x) var(--origin-y);
        opacity: 1;
    }

    to {
        background-size: calc(var(--width) * 2) calc(var(--width) * 2);
        background-position: calc(var(--origin-x) - var(--width))
            calc(var(--origin-y) - var(--width));
        opacity: 0.5319;
    }
}
