@layer components {
    .listbox {
        --item-height: var(--size-12);

        min-width: var(--size-18);
        max-width: var(--size-19);
        max-height: calc(100svh - var(--item-height));
        padding-block: var(--padding-2);
        padding-inline: 0;
        margin: 0;

        border-radius: var(--border-radius-2);

        list-style-type: none;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        position: fixed;
        top: var(--menu-top, 0);
        left: var(--menu-left, 0);
        z-index: var(--layer-highest);

        background-color: rgb(var(--color-surface-container));

        box-shadow: var(--elevation-2);

        overflow: auto;
    }

    .option {
        height: var(--item-height);
        flex-shrink: 0;
    }

    .button {
        composes: label-large from '../../../assets/styles/patterns/typography.module.css';

        width: 100%;
        height: 100%;
        padding-inline: var(--padding-3);

        background-color: transparent;
        border: none;
        border-radius: 0;
        color: rgb(var(--color-on-surface));

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--padding-3);
    }

    .button:focus-visible {
        outline-offset: 0;
        outline-width: var(--size-1);
    }

    .button:disabled {
        color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
    }

    .icon {
        color: rgb(var(--color-on-surface-variant));
    }

    .button:disabled .icon {
        color: rgb(
            var(--color-on-surface) / var(--state-disabled-text-opacity)
        );
    }
}
