@layer components {
    .navigationItem {
        flex-grow: 1;
        flex-basis: var(--size-18);

        position: relative;
        isolation: isolate;

        --padding-block-start: var(--padding-3);
    }

    .link {
        composes: label-medium from '../../../assets/styles/patterns/typography.module.css';

        padding-block-start: var(--padding-block-start);
        padding-block-end: var(--padding-4);

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        color: rgb(var(--color-on-surface-variant));
    }

    .icon {
        height: var(--size-10);
        width: var(--size-14);
        border-radius: var(--border-radius-5);

        background-color: rgb(
            var(--icon-bg-color, var(--color-on-surface-variant)) /
                var(--icon-bg-opacity, 0)
        );

        display: grid;
        place-content: center;
    }
    .activeIndicator {
        height: var(--size-10);
        width: var(--size-14);
        border-radius: var(--border-radius-5);

        position: absolute;
        top: var(--padding-block-start);
        left: 50%;
        translate: -50%;
        z-index: var(--layer-00);
    }

    /* States */
    [data-active] .link {
        color: rgb(var(--color-on-surface));
    }

    [data-active] .icon {
        --icon-bg-color: var(--color-on-surface);
        color: rgb(var(--color-on-secondary-container));
    }

    .navigationItem:hover .icon {
        --icon-bg-opacity: var(--state-hovered-opacity);
    }

    .navigationItem:focus-within .icon {
        --icon-bg-opacity: var(--state-focused-opacity);
    }

    .navigationItem:active .icon {
        --icon-bg-opacity: var(--state-pressed-opacity);
    }

    [data-active] .activeIndicator {
        background-color: rgb(var(--color-secondary-container));
    }

    /* Navigation rail version */
    .navigationRailItem {
        composes: navigationItem;

        flex-grow: 0;
        flex-basis: auto;
    }

    .navigationRailItem .link {
        height: var(--size-13);

        padding: 0;

        gap: var(--padding-1);
    }

    .navigationRailItem .icon {
        width: var(--size-13);
    }

    .navigationRailItem .activeIndicator {
        width: var(--size-13);
        top: 0;
    }

    /* Navigation drawer version */
    .navigationDrawerItem {
    }
}
