@layer components {
    .icon {
        font-variation-settings: 'FILL' var(--icon-fill),
            'wght' var(--icon-weight), 'GRAD' var(--icon-grad),
            'opsz' var(--icon-optical-size);

        font-size: var(--icon-size);
    }

    .withTypo {
        composes: icon;
        vertical-align: middle;
    }
}
