@layer components {
    .icon {
        --icon-optical-size: var(--icon-font-optical-size, 24);
        --icon-size: var(
            --icon-font-size,
            calc(var(--icon-optical-size) * 1px)
        );
        --icon-fill: var(--icon-font-fill, 0);

        font-variation-settings: 'FILL' var(--icon-fill),
            'GRAD' var(--icon-grad), 'opsz' var(--icon-optical-size);
        font-weight: var(--icon-weight);

        font-size: var(--icon-size);
    }

    .withTypo {
        composes: icon;
        vertical-align: middle;
    }

    /* Reset button style */
    button.icon {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }

    button.icon:focus-visible {
        outline: rgb(var(--color-outline-focus)) var(--size-2) solid;
        outline-offset: var(--size-1);
    }
}
