@layer components {
    .navigationDrawer {
        list-style-type: none;

        margin: 0;
        padding-inline: var(--padding-3);
        padding-block: var(--padding-4);
        width: var(--size-22);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: var(--padding-4);

        background-color: rgb(var(--color-surface));
        border-radius: 0 var(--border-radius-5) var(--border-radius-5) 0;
    }
}
