PORT=3000 # Port to run the server on
NODE_ENV="development" # Environment (development, production, test, ...). This variable will affect the behavior of your API, like logging, file upload or database connection. It can be overriten by the --env CLI argument.

# Database configuration
DB_NAME = "groupomania"
DB_USER = "project_user"
DB_PASSWORD = "user_password"
DB_HOST = "localhost"
DB_PORT = 5432 # DBMS port
DB_SGBD = "postgres"
DB_PROTOCOL = "tcp"
DB_SSL = "false"

# Passwords
SALT_ROUND = 10 # Number of rounds to hash the password using Bcrypt

# JWT
JWT_KEY = "JWT random key"
JWT_ALG = "HS256"
JWT_VALID = 600 # Validity duration of the JWT in seconds
REFRESH_JWT_KEY = "JWT random key"
REFRESH_JWT_ALG = "HS256"
REFRESH_JWT_VALID = 2764800 # Validity duration of the JWT in seconds