PORT=3000 # Port to run the server on
NODE_ENV="development" # Environment (development, production, test, ...). This variable will affect the behavior of your API, like logging, file upload or database connection.