@layer components {
    .hiddenLink {
        composes: label-large from '../../assets/styles/patterns/typography.module.css';

        /* Custom properties */
        --height: var(--size-11);
        --width: var(--size-target);

        --border-radius: var(--border-radius-5);

        --padding-inline: var(--padding-6);
        --page-margin: var(--page-margin);
        --margin-bloc: max((var(--size-target) - var(--height)) / 2, 0px);
        --margin-inline: max((var(--size-target) - var(--width)) / 2, 0px);
        --stack-layer: var(--layer-5);

        --text-color: var(--color-on-tertiary);

        --background-color: var(--color-tertiary);

        --state-layer-color: var(--text-color);
        --state-layer-border-radius: var(--border-radius);

        /* Hidden link properties */
        display: grid;
        place-content: center;

        position: fixed;
        top: var(--page-margin);
        left: var(--page-margin);
        z-index: var(--stack-layer);

        min-height: var(--height);
        min-width: var(--width);
        padding-inline: var(--padding-inline);
        margin-block: var(--margin-bloc);
        margin-inline: var(--margin-inline);

        border-radius: var(--border-radius);

        background-color: rgb(var(--background-color));
        color: rgb(var(--text-color));
    }

    /* States */
    .hiddenLink:focus-visible {
        outline: rgb(var(--color-outline-focus)) var(--size-2) solid;
        outline-offset: var(--size-1);
    }
}
